h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
h2{
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
header, section, footer, nav, article {
    display: block;
}
body,.body{
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background: url(../images/eglo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.body{
    max-width: 1200px;
    display: grid;
    background: #ffffff;
}
div{
    background: none;
   
}
.header{
    background: #ffffffb0;
    border: 1px splod #999999;
    padding: 8px;
    margin: 15px;
}
.header image{
    text-align: center;
    color: rgba(247, 248, 248, 0.938);
}
.principal{ 
    display: flex;
    padding: 20px;
    height: 220px;
}
.menuConfig{
    background: #05a6d3;
    align-items: center;
    width: 90%;
}
.menuConfig, .menu {
    background: rgba(14, 14, 14, 0.671);
    padding: 40px 10px; 
    margin: 10px;    
}
.menuConfig li, .menu li {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    background: #097792e7;
    border-radius: 4px;
    transition: all 4ooms ease;
    cursor: pointer;
}
.menuConfig li:hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transform: translateX(-3%);
    background: #ffffff;
    color:#097792e7;
} 
.menu li:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transform: translateX(-3%);
    background: #ffffff;
    color:#097792e7;
}
li a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
.totalAgregado{
    margin-top: 40px;
    width: 10%;
    cursor: pointer;
   
}
.agregado{
    width:50%;
    padding: 10px;
    background: #f5f7f6;
    border-radius: 15px;
    cursor: pointer;
}
.agregado:hover{
    background: rgba(29, 28, 28, 0.93);
    color: #ffffff;
}

.usuario{
    justify-content: space-between;
    vertical-align: top;
    padding: 0 0 0 0;
    width: 10%;
    background: #c8cecdde;
    float: right;
    border-radius: 15px;
    
}
.usuario img{
    padding: 10px;
    width: 90px;
}
.btn {
    padding: 0 3px;
    background: #c8cecdde;
    margin:  auto;
    color: #097792e7;
    border: solid 2px #097792e7;
    font-weight: bold;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);

}
.btn:hover{
    background: #097792e7;
    color: #ffffff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    
}
.btnEdit button{
    background: #15663d;
    color: #ffffff;
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    transition: 1s all ;
    cursor: pointer;
    
}
.btnEdit button:hover{
    background: rgb(242, 244, 245);
    color: #0f0f0f;
    transform: scale(1.20);
    border: 1px solid #15663d;
}
.seccion{
    margin: 3px;
    width: 75%;
    float: left;
}
article{
    display: flex;
    margin: 20px;
}
.contenedor{
    width: 100%;
    justify-content: center;
    display: flex;
    max-width: 1100px;
    background: #ffffffdc
    
}
.fila{
    margin: 10px;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));


}
.contenedorProductos{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 10px auto;
    background: rgba(247, 244, 244, 0.863);  
    position:static;
}

.tarjeta{
    width: 100%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.tarjeta:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.tarjeta img{
    width: 100%;
    height: 150px;
    margin: none;
}
article footer{
    text-align: right;
    margin-top: 20px;
}
.contenido{
    background: rgb(150, 98, 98);
    
}
.contenido-tarjeta{
    padding: 5px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.titulo-tarjeta h3{
    font-size: 18px;
    margin-top: 8px;

}
.titulo-tarjeta p{
    margin-top: 10px;
    font-size: 12px;
    color: #5e615f;
    line-height: 1.5;
    text-align: justify;
}
.link{
    margin-bottom: 2px;

}
.link a{
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
    margin: 10px auto;
    color: #022930;
    border: 1px solid #022930;
    border-radius: 4px;
    transition: all 4ooms ease;
    cursor: pointer;
}
.link a:hover{
    color: #05a6d3;
    border: 1px solid #05a6d3;
}
table{
	width: 90%;
	margin : 40px auto;
	background : #f3eeee;
	text-align: center;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.6);

}

thead {
	background: #555555;
    color:white;
    font-weight: bold;
}
td,th {
    border: 1px solid #C1c3d1;
    padding: 8px 15px;
}
tbody:hover tr{
	background-color : #3bada4;;
	color : #fff;
	border-top: 1px solid #33a198;
}
.descripcion{
	text-align: left;
}
.cardProducto{
    margin: 10px 0 10px 0;
    display: flex;
    min-width: 250px;
    width: 250px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.877);
    border-radius: 6px;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}
.cardProducto:hover{
    width: 500px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.877);

}
.cardProducto .imagen{
    position: relative;
    min-width: 250px;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s; 
    cursor: pointer;   
}
.cardProducto:hover .imagen {
    border: solid 3px #ffffff;


}
.cardProducto .imagen img{
    width: 100%;

}
.cardProducto .detalle{
    position: relative;
    min-width: 250px;
    background: #097792e7;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.cardProducto .detalle::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 10px solid #ffffff;
}

.codigo-nombre {
    display:flex;
    margin: 10px 0 0 0;
    background: none;
    justify-content: space-between;
}

.codigo-nombre sup{
    margin: 0;
    padding: 0;

}

.codigo-nombre h3{
    margin: 0;
    padding: 0;
    font-weight: 700;

}

.referencia-marca {
    display: block;
    margin: 10px 0 0 0;
    background: none;
    

}
.referencia-marca h4{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
}
.referencia-marca small{
    margin: 0;
    padding: 0 ;
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
}

.descripcion{
    margin-top: 10px;
    padding: 5px;
}
.descripcion h4{
    font-size: 11px;
    font-weight: bold;
}
.descripcion p{
    text-align: justify;
    color: #ffffff;
    font-size: small;
}
.cantidad{
    display: flex;
    background: none;
}
.cantidad h4{
    padding: 5px 5px 8px 5px  ;
    margin: 10px 10px 10px 8px;
    background: none;
    margin-top: 10px;
    font-size: 14px;
}
.cantidad h3{
    color: black;
    font-weight: bold;
    padding: 5px 5px 8px 5px  ;
    margin: 10px 10px 10px 8px;
    border: solid 1px rgb(99, 95, 95);
    border-radius: 10px;
    background: #eef1ef;
    font-size: 12px;
}   
.footcard{
    background: none;
    display: flex;
    justify-content: space-between;
}
.valor{
    background: none;
    display: flex;
    margin-left: 16px;
}
.valor h4 {
    padding-bottom: 2px;
    font-size: 22px;
    font-weight: 100;
}
.compra{
    background: none;
    margin-bottom: 3px;
    padding: auto 2px;
}

.cesta{
    width: 90%;
    padding: 4px;
    height: auto;
    margin-right: 16px; 
    cursor: pointer;   
}
.cesta :hover{
    color: #0ce904;
}
.agregar{
    width: 60px;
    padding: 10px;
    color: #ffffff;
    background: #022930;
    border-radius: 16px;
    cursor: pointer;
}
.agregar:hover{
    color: #08fc14;
}
.options, .optionsusuarios{
    background: #022930;
    display: flex;  
    justify-content: center;
}
.optionsusuarios{
    background: none;
}
.eliminar{
    margin: 5px;
    cursor: pointer;
}
.eliminar:hover{
    color: rgb(235, 16, 16)
}
.editar{
    margin: 5px;
    cursor: pointer;
}
.editar:hover{
    color: rgb(240, 240, 8);
}
.columna{
    margin: 0 0 0 10px ;
    width: 20% ;
    float: left;
}
.columna blockquote{
    font-size:x-large;
    width: 100%;
    margin: 4px;
    border-radius: 6px;
    overflow: hidden;
    background: rgba(37, 138, 141, 0.89);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    color:rgba(247, 248, 248, 0.938);
    cursor: default;
    transition: all 400ms ease;
}
.columna blockquote:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateX(2%);
    background: #2d3436;
    color:rgba(247, 248, 248, 0.938);
}
.columna-text{
    padding: 8px 4px;
    font-size: 16px;
}
.videoIliminacio{
    padding: 4px;
}
.videoIliminacio:hover{
    border: solid 1px #ffffff;
}
main{
    width: 100%;
    display:inline-block;
}
.pvm{
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    background:#f5f6f7;
    color: #070707; 
    border-radius: 20px;
  
}
.pvm h1{
    text-decoration: underline;
}
.pvm p{
    text-align: left;
    font-style: italic;                                                        
}
.mapa {
    margin: 20px auto;
    width: 80%;
    padding: 3em 0;
    background: linear-gradient(#f4f5f5f3, #656666ea);
}

.mapa p {
    color: #1c8bd4;
    font-weight: bold;
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido {
    width: auto;
    margin: 0 auto;
}
.pie{
    clear: both;
    padding: 10px;
    margin: 10px;
    background: #2d3436be;
    box-sizing: border-box;

}
:root{
    --facebook: #3b5999;
    --twitter:#55acee; 
    --isntagram:#e02f4f;
    --youtube:#f70303;
    --whatsapp:#08fc14;
}
.pie ul{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.pie li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.pie li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color:#fff;
    line-height: 50px;
    font-size:30px;
    box-shadow: 0 3px 5px 0px rgb(0,0,0, .2);
    transition: .2s;
}
.pie a:hover {
    filter: blur(2px);
}
.pie li :hover{
    transform: translateY(-3px)scale(1.05);
    box-shadow: 0 5px 5px 5px rgb(0,0,0, .4);
    filter: none;
}
.pie ul li .facebook:hover{
    background: var(--facebook);
}
.pie ul li .twitter:hover{
    background: var(--twitter);
}
.pie ul li .isntagram:hover{
    background: var(--isntagram);
}
.pie ul li .youtube:hover{
    background: var(--youtube);
}
.pie ul li .whatsapp:hover{
    background: var(--whatsapp);
}
.card-flip {
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #f8f9fa;
    transform: rotateY(0deg);
    z-index: 2;
}

.card-back {
    background-color: #e9ecef;
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.card-title,
.card-text {
    margin-bottom: 15px;
}
