header, section, footer, nav, article {
    border: 1px solid, black;
    display: block;
}
body{
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background: url(../images/eglo1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
div{
    background: rgba(255, 255, 255, 0.199);
   
}
.header{
    background: #ffffffb0;
    border: 1px splod #999999;
    padding: 8px;
    margin: 15px;
}
.header image{
    text-align: center;
    color: rgba(247, 248, 248, 0.938);
}
.menu{
    background: rgba(14, 14, 14, 0.671);
    padding: 5px 10px; 
    margin: 10;    
}
.menu li {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    background: #097792e7;
    border-radius: 4px;
    transition: all 4ooms ease;
    cursor: pointer;
}
.menu li:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transform: translateX(-3%);
    background: #ffffff;
    color:#097792e7;
}
li a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../images/eglo1.jpg);
    background-size: cover;
    background-attachment: fixed;
}  
*{
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 10px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 60px;
    text-align: center;
    color: #999;
}
.botton{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}.botton:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
    color: rgb(19, 157, 161);
}
.pie{
    clear: both;
    padding: 10px;
    margin-top: 150px;
    background: #2d3436be;
    box-sizing: border-box;

}
:root{
    --facebook: #3b5999;
    --twitter:#55acee; 
    --isntagram:#e02f4f;
    --youtube:#f70303;
    --whatsapp:#08fc14;
}
.pie ul{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.pie li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.pie li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color:#fff;
    line-height: 50px;
    font-size:30px;
    box-shadow: 0 3px 5px 0px rgb(0,0,0, .2);
    transition: .2s;
}
.pie a:hover {
    filter: blur(2px);
}
.pie li :hover{
    transform: translateY(-3px)scale(1.05);
    box-shadow: 0 5px 5px 5px rgb(0,0,0, .4);
    filter: none;
}
.pie ul li .facebook:hover{
    background: var(--facebook);
}
.pie ul li .twitter:hover{
    background: var(--twitter);
}
.pie ul li .isntagram:hover{
    background: var(--isntagram);
}
.pie ul li .youtube:hover{
    background: var(--youtube);
}
.pie ul li .whatsapp:hover{
    background: var(--whatsapp);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        margin-top: 100px;
        width: 500px;
        border-radius: 2%;
    }
}








