/* estilos  body-header  */
h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
h2{
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
section, footer, nav, article {
    display: block;
}
body,.body{
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background: url(../images/eglo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.body{
    max-width: 1200px;
    display: grid;
    background: #ffffff;
}
div{
    background: none;
   
}
.header{
    display: flex;
    justify-content: center;
    background: #ffffffb0;
    padding: 8px;
    margin: 15px;
}

.header figure img{
    margin: auto;
    color: rgba(247, 248, 248, 0.938);
}
.principal{ 
    display: flex;
    padding: 20px;
    height: 100%;
}
.menuConfig{
    align-items: center;
    width: 90%;
}
.menuConfig, .menu {
    background: rgba(14, 14, 14, 0.671);
    width: 90%;
    height: 150px;
}

.menuConfig li, .menu li {
    display: inline-block;
    margin: 65px 10px 0 10px;
}

.menuConfig li a, .menu li a{
    padding: 10px;
    background: #009AA2;
    border-radius: 4px;
    transition: all 4ooms ease;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}
.menuConfig li:hover a, .menu li:hover a{
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transform: translateX(-3%);
    background: #ffffff;
    color:#009AA2;
}
.totalAgregado{
    margin-top: 40px;
    width: 10%;
    min-width: 150px;
    cursor: pointer;
   
}
.agregado{
    width:50%;
    min-width: 50%;
    padding: 10px;
    background: #c8cecdde;
    border-radius: 15px;
    cursor: pointer;
    transition:.5s ;
}
.agregado:hover{
    background: rgba(29, 28, 28, 0.93);
    color: #ffffff;
}

.usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    padding: 10px;
    width: 10%;
    min-width: 130px;
    height: 200px;
    background: #c8cecdde;
    float: right;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.contenedor-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .3s ease all;
}
.contenedor-img::after {
    content: "";
    width: 100%;
    height: 150px;
    background: rgba(0, 154, 162, 0.37);
    position: absolute;
    z-index: 1;
    top: -60px;
    left: -0px;
    transition: .6s ease-in-out;
    border-radius: 90px;
}
.contenedor-img img {
    justify-content: center;
    margin: 5px auto;
    padding: 0;
    width: 60px;
}
.contenedor-img img,.contenedor-img h2{
    z-index: 2;

}
.contenedor-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    width: 100%;
    height: 30%;
}
.contenedor-logout button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff ;
    border: none;
    color: #009AA2;
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight:bold;
    transition: .8s ease all;
    position: relative;
    overflow: hidden;
}
.contenedor-logout button::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 43%;
    left: 46%;
    transition: .6s ease-in-out;
    border-radius: 100px;
    transform-origin: center;

}
.contenedor-logout button:hover::after{
    transform: scale(80);
    background: #009AA2;
}
.contenedor-logout button:hover {
    background: #02858c;
}
.contenedor-logout button span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.contenedor-logout button:hover span{
    color: #ffffff;
}


/* estilos catalogo-body  */
.add-input{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 50px auto;
    padding: 5px;
}
.search{
    position: relative;
    top: 22px;
    left: 100px;
    height: 40px;
    border-radius: 15px;
}
.search input{
    border: solid 2px #009AA2;
    box-sizing: border-box;
    border-radius: 15px;
    background: #ffffff;
    font-size: 15px;
    width: 0;
    height: 40px;
    outline: none;
    transition: all 0.7s ease;
    opacity: 1;
}
.logo-search{
    position: absolute;
    top: -25px;
    right: -5px;
    background: #009AA2;
    width: 85px;
    height: 85px;
    line-height:70px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;

}
.logo-search svg {
    margin: 15px;
    width: 60%;
    color:#ffffff;
    line-height: 85px;
    transition: all .7s ease;
}
.search:hover input{
    width: 240px;
    padding: 5px 85px 5px 15px;
}
.search:hover .logo-search svg{
    transform: rotate(-360deg);
}
.btnEdit{
    position: relative;
    width: 80px;
    margin: 0 ;
    justify-items: center;
    transition: all .7s ease;
}

.agregar{
    padding: 10px;
    color: #ffffff;
    background: #32979d;
    border-radius: 16px;
    cursor: pointer;
}
.agregar:hover{
    color: #32979d;
    background:  #ffffff;
    transition: .5s;
}
.tooltips-agregar{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 4px;
    top: 0px;
    left: 0px;
    width: 80px;
    border: none;
    background: rgba(131, 133, 133, 0.98);
    border-radius: 10px;
    opacity: 0;
}
.btnEdit:hover .tooltips-agregar{
    visibility: visible;
    opacity: 1;
    top: 8px;
    left: -100px;
    transition: .5s;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.34);

}
.btnEdit .tooltips-agregar::before{
    content: "";
    position: absolute;
    top: 25px;
    right: -10px;
    transform: rotate(360deg);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(131, 133, 133, 0.87);
}
.tooltip-small{
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
    font-size: 15px;
    padding: 6px;
}
.contenedorProductos{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 10px 10px;
    position:static;
}
.fila{
    margin: 10px;
    padding: 10px;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    background: rgba(247, 244, 244, 0.863);
}
.cardProducto{
    position: relative;
    margin: 10px 0 10px 0;
    display: flex;
    min-width: 250px;
    width: 250px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.877);
    border-radius: 6px;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}
.cardProducto:hover{
    width: 500px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.877);

}
.cardProducto .imagen{
    position: relative;
    min-width: 250px;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}
.cardProducto:hover .imagen {
    border: solid 3px #ffffff;


}
.cardProducto .imagen img{
    width: 100%;

}
.cardProducto .detalle{
    position: relative;
    min-width: 250px;
    background: #009AA2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.cardProducto .detalle::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 10px solid #ffffff;
}
.codigo-nombre {
    display:flex;
    margin: 10px 0 0 10px;
    background: none;
    justify-content: space-between;
}
.codigo-nombre sup{
    margin: 0;
    padding: 0;
}
.codigo-nombre h3{
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.referencia-marca {
    display: block;
    margin: 10px 0 0 10px;
}
.referencia-marca h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
}
.referencia-marca small{
    margin: 0;
    padding: 0 ;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
}
.descripcion{
    text-align: left;
    padding: 10px 10px 0px 10px;
}
.descripcion h4{
    font-size: 16px;
    font-weight: bold;
}
.textarea-descripcion{
    width: 100%;
    height: 70px;
    padding: 0 5px 0 0;
    font-size: small;
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.2;
    text-align: justify;
    border:none;
    background: none;
    outline: none;
}
.cantidad{
    display: flex;
}
.cantidad h4{
    padding: 5px 5px 8px 0;
    margin: 10px 10px 10px 8px;
    background: none;
    font-size: 16px;
    font-weight: bold;
}
.cantidad h3{
    color: black;
    font-weight: bold;
    padding: 5px 5px 8px 5px  ;
    margin: 10px 10px 10px 8px;
    border: solid 1px rgb(99, 95, 95);
    border-radius: 10px;
    background: #eef1ef;
    font-size: 12px;
}
.footcard{
    position: absolute;
    bottom: 40px;
    width: 90%;
    background: none;
    display: flex;
    justify-content: space-between;
}
.valor{
    background: none;
    display: flex;
    margin-left: 16px;
}
.valor h4 {
    margin: auto;
    font-size: 22px;
    font-weight: 100;
}
.compra{
    padding: 4px;
    width: 30%;
    display: flex;
    background: none;
    margin-bottom: 3px;
}
.input{
    position: relative;
}
.input-cantidad{
    margin-right: 6px;
    margin-top: 4px;
    text-align: center;
    width: 20px;
    border: solid 1px rgb(99, 95, 95);
    background: #eef1ef;
    outline: none;
}
.tooltip-cantidad{
    visibility: hidden;
    position: absolute;
    left: -8px;
    bottom: 30px;
    width: 80px;
    border: none;
    background: rgba(131, 133, 133, 0.7);
    border-radius: 10px;
}
.input:hover .tooltip-cantidad{
    visibility: visible;
    opacity: 1;
    bottom: 50px;
    transition: .5s;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.34);
}
.input .tooltip-cantidad::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 12px;
    transform: rotate(90deg);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(131, 133, 133, 0.81);
}
.tooltip-cantidad small{
    color: rgba(255, 255, 255, 0.82);
    display: flex;
    text-align: center;
    margin: 4px;
}

.contenedor-cesta{
    position: relative;
    width: 80px;
}
.cesta{
    height: auto;
    cursor: pointer;
}
.cesta :hover{
    color: #0ce904;
}
.tooltip-cesta {
    visibility: hidden;
    position: absolute;
    left: -35px;
    bottom: 30px;
    width: 80px;
    height: 48px;
    border: none;
    background: rgba(131, 133, 133, 0.7);
    border-radius: 10px;
}
.contenedor-cesta:hover .tooltip-cesta{
    visibility: visible;
    opacity: 1;
    bottom: 50px;
    transition: .5s;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.34);
}
.contenedor-cesta .tooltip-cesta::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50px;
    transform: rotate(90deg);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(131, 133, 133, 0.81);
}
.tooltip-cesta small{
    color: rgba(255, 255, 255, 0.82);
    display: flex;
    text-align: center;
    margin: 4px;
}

/* estilos páginas de catalogo-usuario body: modal(agregar)  */
.options{
    position: absolute;
    bottom: 0;
    width: 90%;
}
.btnCerrar, .btnGuardar, .btn-danger{
    padding: 5px 10px;
    margin:  0 60px;
    color: #ffffff;
    background: #009AA2;
    font-weight: bold;
    border: none;
    border-radius:3px ;
}
.btnCerrar:hover, .btnGuardar:hover, .btn-danger:hover{
    background: #32979d;
    color: #ffffff;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
.btnGuardar {
    margin: 20px 0 0 60px;
}
form {
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 40px 0;

}
form label{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
}
.input-padron, .input-textarea{
    justify-content: space-between;
    font-size: 15px;
    padding: 10px 25px;
    width: 55%;
}
.input-imagen{
    justify-content: space-between;
    font-size: 15px;
    padding: 10px 25px;
    width: 62%;
}
.input-textarea{
    color: #000000;
    height: 60px;
    border: solid 1px rgba(100, 98, 98, 0.93);
}


/* estilos index-body  */
.seccion{
    margin: 3px;
    width: 75%;
    float: left;
}
article{
    display: flex;
    justify-content: center;
}
.contenedor{
    width: 100%;
    justify-content: center;
    display: flex;
    max-width: 1100px;
    background: #ffffffdc
}
.tarjeta{
    width: 100%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.tarjeta:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.tarjeta img{
    width: 100%;
    height: 150px;
    margin: none;
}
.contenido-tarjeta{
    padding: 5px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.titulo-tarjeta h3{
    font-size: 18px;
    margin-top: 8px;

}
.titulo-tarjeta p{
    margin-top: 10px;
    font-size: 12px;
    color: #5e615f;
    line-height: 1.5;
    text-align: justify;
}
.link{
    margin-bottom: 2px;

}
.link a{
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
    margin: 10px auto;
    color: #022930;
    border: 1px solid #022930;
    border-radius: 4px;
    transition: all 4ooms ease;
    cursor: pointer;
}
.link a:hover{
    color: #009AA2;
    border: 1px solid #009AA2;
}
.columna{
    margin: 0 0 0 10px ;
    width: 20% ;
    float: left;
}
.columna blockquote{
    font-size:x-large;
    width: 100%;
    min-width: 220px;
    margin: 4px;
    border-radius: 6px;
    overflow: hidden;
    background: #009AA2;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    color:rgba(247, 248, 248, 0.938);
    cursor: default;
    transition: all 400ms ease;
}
.columna blockquote:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateX(2%);
    background: #2d3436;
    color:rgba(247, 248, 248, 0.938);
}
.columna-text{
    padding: 8px 4px;
    font-size: 16px;
}
.videoIliminacio{
    padding: 4px;
}
.videoIliminacio:hover{
    border: solid 1px #ffffff;
}


/* estilos Usuarios-body */
.tabla-usuario{
    width: 90%;
    margin : 40px auto;
    background : #f3eeee;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.6);
}

.thead-usuario {
    background: #555555;
    color:white;
    font-weight: bold;
}
.td-usuario,.th-usuario {
    border: 1px solid #C1c3d1;
    width: auto;
    height: auto;
    padding: 8px 15px;
}
.td-usuario-password{
    border: 1px solid #C1c3d1;
    width: auto;
    padding: 8px 15px;
}
.td-usuario-password h6{
    margin: auto;
}
.tbody-usuario:hover tr{
    background-color : #009AA2;
    color : #fff;
    border-top: 1px solid #009AA2;
}
.options, .optionsusuarios{
    background: #022930;
    display: flex;
    justify-content: center;
}
.optionsusuarios{
    background: none;
}
.eliminar{
    margin: 5px;
    cursor: pointer;
}
.eliminar:hover{
    color: rgb(235, 16, 16)
}
.editar{
    margin: 5px;
    cursor: pointer;
}
.editar:hover{
    color: rgb(240, 240, 8);
}
.contenido{
    background: rgb(150, 98, 98);
}


/* estilos About-body**/
main{
    width: 100%;
    display:inline-block;
}
.pvm{
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    background:#f5f6f7;
    color: #070707;
    border-radius: 20px;

}
.pvm h1{
    text-decoration: underline;
}
.pvm p{
    text-align: left;
    font-style: italic;
}
.mapa {
    margin: 20px auto;
    width: 80%;
    padding: 3em 0;
    background: linear-gradient(#f4f5f5f3, #656666ea);
}

.mapa p {
    color: #1c8bd4;
    font-weight: bold;
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido {
    width: auto;
    margin: 0 auto;
}
article footer{
    text-align: right;
    margin-top: 20px;
}

/* Estilos  pagina factura */

.factura{
    width: 45%;
    padding: 20px;
    margin-top: 8%;
    margin-left: 30%;
    margin-bottom: 20%;
    border-radius: 20px;
    background: #ffffff;
}
.header-factura{
    width: 100%;
}
.header{
    display:inline-flex;
    width: 100%;
    height: 30%;
}
.img-logo{
    width: 30%;
    margin: 5px;
}
.img-logo img{
    margin-top: 40%;
    width: 100%;
}
.Eglo{
    width: 40%;
    min-width:40% ;
    margin: .2%;
    display: block;
    padding-top:5%;

}
.Eglo div{
    position: relative;
    text-align: center;
    margin: 5px ;
}
.Eglo h3{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.Eglo h4{
    margin: 1px;
    font-size: 16px;
    font-weight: 600;
}
.Eglo h5{
    font-size: 18px;
}
.img-qr{
    width: 30%;
    left: 0;
}
.img-qr img{
    width: 100%;
    padding: 10% 2%;
}
.detalle-cliente{
    display: inline-flex;
    width: 100%;
    padding: 10px;
}
.cliente{
    width: 70%;
}
.info-cliente{
    display: flex;
}
.info-cliente h6, .info-cliente h7{
    margin: 5px;
    width: 200px;
    background: #009aa248;
    text-align: left;
}
.info-cliente h6{
    font-size: 18px;
    padding: 5px;
}
.info-cliente h7{
    font-size: 16px;
    color: #838388;
    padding: 5px;
}
.numero-factura{
    width: 25%;
    padding: 20px;
    text-align: center;
}
.numero-factura h6{
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}
.numero-factura h4{
    padding: 5%;
    background: #555555;
    color: #ffffff;
}
.body-factura{
    width: 100%;
    display:flex;
    flex-direction: column;
}
.tabla-uno{
    width: 100%;
    margin-bottom: 10px;
}
.thead-factura {
    background: #555555;
    color:white;
    font-weight: bold;
}
.td-factura,.th-factura {
    border: 1px solid #C1c3d1;
    padding: 8px 15px;
}
.td-factura{
    background: #ffffff;
}
.tabla-dos{
    margin-left: 76.5%;
    width: auto;
}
.foother-factura{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
}
.foother-factura button{
    background: #009AA2;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 6px;
    font-size: 18px;
    font-weight:bold;
    width: 80px;
}
.foother-factura button:hover{
    background: #009aa2be;

}


/* Estilos trasacción */

.bancos{
    width: 40%;
    min-width: 700px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    background: #ffffff;
    margin-top: 8%;
    margin-bottom: 10%;
}
.legend-transaccion{
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    font-weight:bold;
}

.bancos fieldset{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    min-width: 22%;
    padding: 10px 0px 10px 10px;
    margin: auto 10px;
    border-radius: 10px;
    background: rgba(192, 186, 186, 0.47);
}
.bancos fieldset:hover{
    background: rgba(192, 186, 186, 0.77);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.44);
}
.bancos fieldset legend{
    font-size: 15px;
}
.label-bancos{
    justify-content: center;
    display: inline-flex;
    width: 90%;
    min-width: 90%;
    margin-left: 10px;
    cursor: pointer;
}
.label-bancos:hover .img-bancos{
    background: #009aa248;
    border: solid 1px #f0e9e993;
    transition: .5s;
    box-shadow: 0 3px 5px 0px rgb(0,0,0, 0.616);
}
.label-bancos:hover .div-span-bancos{
    color: #000000;
    border: solid 1px #55555557;
    background: #f0e9e993;
    transition: .5s;
    box-shadow: 0 3px 5px 0px rgb(0,0,0, 0.616);
}
.div-input-bancos{
    display: flex;
    justify-content: center;
    width: 3%;
    min-width: 20px;
    background: none;
}
.img-bancos{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 40%;
    height: 60px;
    min-width: 20px;
    border: solid 1px #55555557;
    background: #f0e9e993;
}
.img-bancos img{
    width: 60%;

}
.div-span-bancos{
    width: 140px;
    height: 60px;
    min-width: 100px;
    background: #009aa248;
    border: solid 1px #d8d4d4d0;
    color: #ffffff;

}
.div-span-bancos span{
    display: flex;
    padding: 20px 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;

}
.label-bancos:hover .div-span-bancos span{
    color: rgba(0, 0, 0, 0.4);
}

.formulario-tarjeta{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px 10px 15px ;
    background: rgba(50, 151, 157, 0.34);
    border-radius: 10px;
}
.formulario-tarjeta:hover{
    background: rgba(87, 164, 166, 0.68);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.44);
}
.formulario-tarjeta-input{
    margin: 10px 5px;
}
.input-trajeta div{
    background: none;
}
.card-nombres ,.card-direccion,.card-numero,.card-mm,.card-aa,.card-cw{
    width: 220px;
    height: 30px;
    padding: 5px 5px 0px 5px;
    border: solid 1px #c0babae5;
    border-radius: 5px;
    background: #ffffff;
    font-size: 14px;
    margin: 7px;
    justify-items: center;
    outline: none;
}
.card-mm,.card-aa,.card-cw{
    width: 60px;
}
.btn-confirmar-pago button{
    display: flex;
    margin: 18px auto 3px;
    align-items: center;
    justify-content: center;
    background: #ffffff ;
    border: none;
    color: #009AA2;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight:bold;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
}
.btn-confirmar-pago button::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(1, 33, 35, 0.89);
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    transition: .3s ease-in-out;

}
.btn-confirmar-pago button:hover::after{
    top: 0;
}
.btn-confirmar-pago button span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.btn-confirmar-pago button:hover span{
    color: #ffffff;
}


/* Estilos  404*/
.container{
    width: 50%;
    padding: 40px 20px;
    margin-bottom: 40px;
    background: #ffffff;
    border-radius: 10px;
}
.container br h1, .container h3{
    color: #000000;
}
.figure-img{
    width: 40%;
}

/* Estilos  Footer */
.pie{
    width: 100%;
    clear: both;
    padding: 10px;
    margin: 10px;
    background: #2d3436be;
    box-sizing: border-box;

}
.copyrith{
    margin: 5px;
    background: none;
    display:block

}
.copyrith p{
    font-size: 14PX;
    color: #ffffff;
}

.copyrith h4{
    font-size: 12px;
    color: #ffffff;
}
:root{
    --facebook: #3b5999;
    --twitter:#55acee; 
    --isntagram:#e02f4f;
    --youtube:#f70303;
    --whatsapp:#08fc14;
}
.pie ul{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.pie li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.pie li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color:#fff;
    line-height: 50px;
    font-size:30px;
    box-shadow: 0 3px 5px 0px rgb(0,0,0, .2);
    transition: .2s;
}
.pie a:hover {
    filter: blur(2px);
}
.pie li a:hover{
    transform: translateY(-3px)scale(1.05);
    box-shadow: 0 5px 5px 5px rgb(0,0,0, .4);
    filter: none;
}
.pie ul li .facebook:hover{
    background: var(--facebook);
}
.pie ul li .twitter:hover{
    background: var(--twitter);
}
.pie ul li .isntagram:hover{
    background: var(--isntagram);
}
.pie ul li .youtube:hover{
    background: var(--youtube);
}
.pie ul li .whatsapp:hover{
    background: var(--whatsapp);
}
.card-flip {
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #f8f9fa;
    transform: rotateY(0deg);
    z-index: 2;
}

.card-back {
    background-color: #e9ecef;
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.card-title,
.card-text {
    margin-bottom: 15px;
}

/* creamos condiciones mediande la @media para que nuestras páginas seas responsivas*/

@media screen and (max-width:1000px ) {
    /* responsive - head*/
    .principal {
        display: flex;
        padding: 0;
    }

    .menuConfig, .menu {
        display: flex;
        height: 100%;
        margin: 5px;
        padding: 2px;
    }

    .menuConfig li, .menu li {
        display: flex;
        margin-left: -20px;
        margin-top: 5px;
        margin-bottom: 0px;
        height: 100%;
    }

    .menuConfig li a, .menu li a {
        text-align: left;
        font-size: 12px;
    }

    .lista-diferenciales, .imagen-diferenciales, .contenedorProductos, .fila {

        width: 100%;
    }

    .usuario {
        width: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:800px ) {
/* responseive- index */
    .seccion{
        width: 100%;
    }
    .contenedor{
        display: block;
        margin: 10px 0 0 10px;
    }
    .tarjeta{
        width: 350px;
        min-width: 200px;
        margin: 10px auto;
    }
    .columna{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        float: none;
        width: 90%;
    }
    .columna blockquote{
        margin: 5px auto;
    }
}

/* responsive- factura */
@media screen and (max-width:1000px ) {
    .factura {
        width: 90%;
        margin: 10px auto;
    }

    .header-factura {
        width: 100%;
    }

    .header {
        display: inline-flex;
        width: 100%;
        height: 30%;
    }

    .img-logo {
        width: 30%;
        margin: 5px;
    }

    .img-logo img {
        margin-top: 40%;
        width: 100%;
    }

    .Eglo {
        width: 40%;
        min-width: 40%;
        margin: .2%;
        display: block;
        padding-top: 5%;

    }

    .Eglo div {
        position: relative;
        text-align: center;
        margin: 5px;
    }

    .Eglo h3 {
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
    }

    .Eglo h4 {
        margin: 1px;
        font-size: 10px;
        font-weight: 600;
    }

    .Eglo h5 {
        font-size: 8px;
    }

    .img-qr {
        width: 30%;
        left: 0;
    }

    .img-qr img {
        width: 100%;
        padding: 10% 2%;
    }

    .detalle-cliente {
        display: inline-flex;
        width: 100%;
        padding: 10px;
    }

    .cliente {
        width: 70%;
    }

    .info-cliente {
        display: flex;
    }

    .info-cliente h6, .info-cliente h7 {
        margin: 5px;
        width: 200px;
        background: #009aa248;
        text-align: left;
    }

    .info-cliente h6 {
        font-size: 12px;
        padding: 5px;
    }

    .info-cliente h7 {
        font-size: 10px;
        padding: 5px;
    }

    .numero-factura {
        width: 25%;
        padding: 20px;
        text-align: center;
    }

    .numero-factura h6 {
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        margin: 10px;
    }

    .numero-factura h4 {
        font-size: 14px;
        padding: 5%;
        background: #555555;
        color: #ffffff;
    }

    .body-factura {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tabla-uno {
        width: 100%;
        margin-bottom: 10px;
    }

    .thead-factura {
        background: #555555;
        color: white;
        font-weight: bold;
    }

    .td-factura, .th-factura {
        border: 1px solid #C1c3d1;
        padding: 5px;
        font-size: 10px;
    }

    .td-factura {
        background: #ffffff;
    }

    .tabla-dos {
        margin-left: 76.5%;
        width: auto;
    }

    .foother-factura {
        display: flex;
        margin-top: 20px;
        padding: 20px;
        justify-content: center;
    }

    .foother-factura button {
        background: #009AA2;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        padding: 6px;
        font-size: 18px;
        font-weight: bold;
        width: 80px;
    }

    .foother-factura button:hover {
        background: #009aa2be;
    }
}
/* resposive-transaccion */

@media screen and (max-width:700px) {
    .bancos {
        margin: 25px;
        display: block;
        width: 90%;
        min-width: 350px;
    }
    .bancos fieldset {
        width: 60%;
        margin: 15px auto;
    }
    .formulario-tarjeta{
        width: 80%;
        margin: 15px auto;
    }

    /* Estilos  404*/
    .container{
        width: 70%;
        padding: 40px 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        background: #ffffff;
        border-radius: 10px;
    }
    .container br h1, .container h3{
        color: #000000;
        margin: 20px;
    }
    .figure-img{
        width: 60%;
    }
}
@media screen and (max-width:1200px) {
    /* responsive-usuarios*/
    .table {
        display: flex;
        justify-content: center;
    }

    .tabla-usuario {
        width: 90%;
        margin: 40px 5px;
        background: #f3eeee;
        text-align: center;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    }

    .td-usuario, .th-usuario, .td-usuario-password {
        border: 1px solid #C1c3d1;
        padding: 3px;
        font-size: 8px;
    }

    .td-usuario-password h6 {
        width: 30px;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 8px;
    }
}