<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<!-- Headers -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes Somos?</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="https://kit.fontawesome.com/f1ac1f649e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
</head>
<body>
<!-- Logo header -->
    <div>
        <header class="header">
            <figure>
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo imagen">
            </figure>
        </header>
        <!-- Navigation Bar -->
        <nav class="principal" >
            <!-- Button nav -->
            <nav class="menuConfig">
                <ul>
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li><a href="#" th:href="@{/about}">¿Quines somos?</a></li>
                    <li><a href="#" th:href="@{/catalogo}">Catálogo</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/usuarios}">Gestionar Usuarios</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/usuarios}">Gestionar Pedidos</a></li>
                </ul>
            </nav>
            <!-- Shopping cart-->
            <nav class="totalAgregado">
                <a href="#" th:href="@{/carrito}">
                    <svg class="agregado" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0
                    1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0
                    0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0
                    1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </a>
            </nav>
            <!-- Info User -->
            <nav class="usuario">
                <div class="contenedor-img">
                    <img src="../static/images/user.png" th:src="@{/images/user.png}" alt="logo user">
                    <h2 th:text="${fullName}">Usuario</h2>
                    <h2 sec:authentication="principal.authorities">User</h2>
                </div>
                <form class="contenedor-logout" th:action="@{/logout}" method="post">
                    <button class="btnLogout" ><span> Logout</span></button>
                </form>
            </nav>
        </nav>
        <!-- Info About -->
        <main>
            <section>
                <div class="pvm">
                    <h1>Nuestra historia</h1>
                    <p>
                        Ocho años de experiencia. Nuestra Ferretería Ferre Hogar fue fundada en 2015, el continuo progreso nos ha situado como referente en el mercado de las ferreterías .
                        Nuestro servicio es integral, la compra de productos ferreteros y para la construcción con nuestra asesoría, ayudamos a seleccionar con transparencia y profesionalismo
                        el producto y material indicado para el trabajo a realizar.

                        Hemos alcanzado el reconocimiento de nuestros clientes, profesionales de la construcción y del mantenimiento en diversas áreas,
                        estableciendo con ellos una relación equitativa al ofrecerles productos de calidad, un precio competitivo, agilidad en el servicio y atención personalizada.
                    </p>
                </div>
                <div class="pvm">
                    <h1>Misión</h1>
                    <p>
                        En Ferretería Ferre Hogar estamos comprometidos con la distribución y comercialización de productos nacionales e importados, orientados a las labores de construcción,
                        mantenimiento, montaje y fabricación en la industria y el comercio.
                    </p>
                </div>
                <div class="pvm">
                    <h1>Visión</h1>
                    <p>
                        Posicionar a nuestra Ferretería Ferre Hogar en el mercado ferretero a nivel nacional. Ser reconocidos como comercializadores y distribuidores de productos de ferretería y
                        para la construcción de calidad y confiabilidad a un precio competitivo.
                    </p>
                </div>            
            </section>
            <!-- Map section -->
            <section class="mapa">
                <h3 class="titulo-principal">Nuestra ubicación</h3>
                <p>Nuestro establecimiento está ubicado en el corazón del pais</p>
                <div class="mapa-contenido">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d509033.6783612364!2d-75.18414885325724!3d4.625182114186582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84e8a9cea879%3A0x3309659982bbf13c!2sFerreter%C3%ADa%20Ferrehogar!5e0!3m2!1ses-
                    419!2sco!4v1692074191724!5m2!1ses-419!2sco" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="pie">
            <ul>
                <li><a href="https://www.facebook.com/EgloColombia" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/eglocolombia/" class="isntagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="youtube"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=573165358521" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
            <div class="copyrith">
                <p class="copyrith">&copy Copyrith Proyecto SENA - 2023 </p>
                <h4>Jose David Villero</h4>
                <h4>Sergio Andrés Manrique Triana</h4>
            </div>
        </footer>
    </div>
</body>
</html>