<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<!-- Headers -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="https://kit.fontawesome.com/f1ac1f649e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
</head>
<body>
<!-- Logo header -->
<div>
    <header class="header">
        <figure>
            <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo imagen">
        </figure>
    </header>
    <!-- Navigation Bar -->
    <nav class="principal" >
        <!-- Button nav -->
        <nav class="menuConfig">
            <ul>
                <li><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#" th:href="@{/about}">¿Quines somos?</a></li>
                <li><a href="#" th:href="@{/catalogo}">Catálogo</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/usuarios}">Gestionar Usuarios</a></li>
            </ul>
        </nav>
        <!-- Shopping cart-->
        <nav class="totalAgregado">
            <a href="#" th:href="@{/carrito}">
                <svg class="agregado" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0
                    1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0
                    0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0
                    1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
        </nav>
        <!-- Info User -->
        <nav class="usuario">
            <div class="contenedor-img">
                <img src="../static/images/user.png" th:src="@{/images/user.png}" alt="logo user">
                <h2 th:text="${usuario}">Usuario</h2>
                <h2 sec:authentication="principal.authorities">User</h2>
            </div>
            <form class="contenedor-logout" th:action="@{/logout}" method="post">
                <button class="btnLogout" ><span> Logout</span></button>
            </form>
        </nav>
    </nav>
    <!-- List Pedido -->
    <div class="table">
        <table class="tabla-usuario">
            <thead class="thead-usuario">
            <tr>
                <th class="th-usuario">NOMBRE</th>
                <th class="th-usuario">MARCA</th>
                <th class="th-usuario">PRECIO</th>
                <th class="th-usuario">CANTIDAD</th>
                <th class="th-usuario">IMAGEN</th>
                <th class="th-usuario">SUBTOTAL</th>
            </tr>
            </thead>
            <tbody class="tbody-usuario" th:each="pedido : ${pedidos}">
            <tr>
                <td class="td-usuario" th:text="${pedido.producto.nombre}">roman@fake.com</td>
                <td class="td-usuario" th:text="${pedido.producto.marca}">Roman Diaz</td>
                <td class="td-usuario-password" th:text="${pedido.producto.precio}">$2a$10$dmGn2rCnf8L5VGqEXXx/Q.0lZqrX5OivHXfmYo1ySFHZNyyi.8uLO</td>
                <td class="td-usuario" th:text="${pedido.cantidad}">	6451887</td>
                <td class="td-usuario" th:text="${pedido.producto.imagen}">	[ADMIN]</td>
                <td class="td-usuario" th:text="${pedido.cantidad * pedido.producto.precio}">true</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Footer -->
    <footer class="pie">
        <ul>
            <li><a href="https://www.facebook.com/EgloColombia" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/eglocolombia/" class="isntagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="youtube"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=573165358521" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
        <div class="copyrith">
            <p class="copyrith">&copy Copyrith Proyecto SENA - 2023 </p>
            <h4>Jose David Villero</h4>
            <h4>Sergio Andrés Manrique Triana</h4>
        </div>
    </footer>
</div>
</body>
</html>