<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<!-- Headers -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="https://kit.fontawesome.com/f1ac1f649e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
</head>
<body>
<!-- Logo header -->
    <div>
        <header class="header">
            <figure>
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" >
            </figure>
        </header>
        <!-- Navigation Bar -->
        <nav class="principal" >
            <!-- Button nav -->
            <nav class="menuConfig">
                <ul>
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li><a href="#" th:href="@{/about}">¿Quines somos?</a></li>
                    <li><a href="#" th:href="@{/catalogo}">Catálogo</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/usuarios}">Gestionar Usuarios</a></li>
                </ul>
            </nav>
            <!-- Shopping cart-->
            <nav class="totalAgregado">
                <svg class="agregado" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"><path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </nav>
            <!-- Info User -->
            <nav class="usuario">
                <img src="../static/images/user.png" th:src="@{/images/user.png}" >
                <h2 th:text="${fullName}">Usuario</h2>
                <h2 sec:authentication="principal.authorities">User</h2>
                <form th:action="@{/logout}" method="post">
                    <button class="btnLogout" ><span> Logout</span></button>
                </form>
            </nav>
        </nav>
        <!-- Ticket -->
        <section class="factura">
            <div class="header-factura">
                <div class="header">
                    <div class="img-logo">
                        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo">
                    </div>
                    <div class="Eglo">
                        <div>
                            <h3>Eglo Colombia</h3>
                        </div>
                        <div>
                            <h4>Nit</h4>
                            <h5>900258411-8</h5>
                        </div>
                        <div>
                            <h4>Tel</h4>
                            <h5>3251458</h5>
                        </div>
                        <div>
                            <h4>Direccion</h4>
                            <h5> Ak.9 #127-36 - Bogotá</h5>
                        </div>

                    </div>
                    <div class="img-qr">
                        <img src="../static/images/qr.png" th:src="@{/images/qr.png}"  alt="QR">
                    </div>
                </div>
                <div class="detalle-cliente">
                    <div class="cliente">
                        <div class="info-cliente">
                            <h6>Fecha</h6>
                            <h7>dd/mm/aa</h7>
                        </div>
                        <div class="info-cliente">
                            <h6>Codigo</h6>
                            <h7>10</h7>
                        </div>
                        <div class="info-cliente">
                            <h6>Nombre cliente</h6>
                            <h7>Juan Martinez</h7>
                        </div>
                        <div class="info-cliente">
                            <h6>Tel</h6>
                            <h7>3212541458</h7>
                        </div>
                        <div class="info-cliente">
                            <h6>Correo</h6>
                            <h7>juan@hotmail.com</h7>
                        </div>
                    </div>
                    <div class="numero-factura">
                        <div>
                            <h6>Factura Electrónica de Venta</h6>
                            <h4>0001</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-factura">
                <table class="tabla-uno">
                    <thead class="thead-factura">
                    <tr>
                        <th class="th-factura">Código</th>
                        <th class="th-factura">Nombre</th>
                        <th class="th-factura">Precio</th>
                        <th class="th-factura">Cantidad</th>
                        <th class="th-factura">Valor total</th>
                    </tr>
                    </thead>
                    <tbody  th:each="producto: ${productos}">
                    <tr>
                        <td class="td-factura">100</td>
                        <td class="td-factura">Pasteri</td>
                        <td class="td-factura">580000</td>
                        <td class="td-factura">2</td>
                        <td class="td-factura">1160000</td>
                    </tr>
                    </tbody>
                </table >
                <table class="tabla-dos">
                    <thead class="thead-factura">
                    <th class="th-factura">Total a pagar</th>
                    </thead>
                    <tbody>
                    <td class="td-factura">1160000</td>
                    </tbody>
                </table>
            </div>
            <div class="foother-factura">
                <button>Pagar</button>
            </div>
        </section>
        <!-- Footer -->
        <footer class="pie">
            <ul>
                <li><a href="https://www.facebook.com/EgloColombia" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/eglocolombia/" class="isntagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="youtube"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=573165358521" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
            <div class="copyrith">
                <p class="copyrith">&copy Copyrith Proyecto SENA - 2023 </p>
                <h4>Jose David Villero</h4>
                <h4>Sergio Andrés Manrique Triana</h4>
            </div>
        </footer>
    </div>
</body>