<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<!-- Headers -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGLO_Colombia</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="https://kit.fontawesome.com/f1ac1f649e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
</head>
<body>
<!-- Logo header -->
    <div>
        <header class="header">
            <figure>
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo imagen">
            </figure>
        </header>
        <!-- Navigation Bar -->
        <nav class="principal" >
            <!-- Button nav -->
            <nav class="menuConfig">
                <ul>
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li><a href="#" th:href="@{/about}">¿Quines somos?</a></li>
                    <li><a href="#" th:href="@{/catalogo}">Catálogo</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/usuarios}">Gestionar Usuarios</a>
                    <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/usuarios}">Gestionar Pedidos</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/usuarios}">ventas</a></li>
                </ul>
            </nav>
            <!-- Shopping cart-->
            <nav class="totalAgregado">
                <a href="#" th:href="@{/carrito}">
                    <svg class="agregado" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0
                    1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0
                    0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0
                    1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </a>
            </nav>
            <!-- Info User -->
            <nav class="usuario">
                <div class="contenedor-img">
                    <img src="../static/images/user.png" th:src="@{/images/user.png}" alt="logo user">
                    <h2 th:text="${fullName}">Usuario</h2>
                    <h2 sec:authentication="principal.authorities">User</h2>
                </div>
                <form class="contenedor-logout" th:action="@{/logout}" method="post">
                    <button class="btnLogout" ><span> Logout</span></button>
                </form>
            </nav>
        </nav>
        <!-- Info section -->
        <section class="seccion">
            <h2>NUESTRAS MARCAS DESTACADAS</h2>
            <article>

                <div class="contenedor">
                    <div class="tarjeta">
                        <figure>
                            <img src="../static/images/YALE.png" th:src="@{images/YALE.png}" alt="Proveedor YALE">
                        </figure>
                        <div class="contenido-tarjeta">
                            <div class="titulo-tarjeta">
                                <p>En Colombia, Yale ha estado por 53 años al lado de los colombianos ofreciendo soluciones de seguridad con un amplio portafolio de
                                    productos que a través de los años se han convertido en un referente de la seguridad de cada generación. Las cerraduras, candados y los
                                    últimos desarrollos de la marca, que incluyen productos que vinculan las nuevas tecnologías aplicadas a la vida cotidiana como las cerraduras
                                    digitales, están siempre presentes en la mente de los colombianos convirtiéndola en la marca más reconocida.</p>
                            </div>                                                        
                            <div class="link">
                                <a href="yalehome.com/global/en/about-yale">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <figure>
                            <img src="../static/images/TRUPER.png" th:src="@{/images/TRUPER.png}" alt="Proveedor TRUPER">
                        </figure>
                        <div class="contenido-tarjeta">
                            <div class="titulo-tarjeta">
                                <p>Truper con más de 50 años, cerca de 10,000 productos, la marca más reconocida y la mejor relación calidad-precio en nuestro mercado, somos
                                    el proveedor más importante del sector ferretero en México, Colombia y América Latina, esel mayor fabricante del mundo de marros, zapapicos,
                                    hachas, carretillas, palas y herramientas de mango largo. Nuestras exportaciones representan el 90% de las exportaciones totales de herramientas
                                    de México y nuestros productos se venden en más de 60 países, con una participación destacada en E.U.A.</p>
                            </div>
                            <div class="link">
                                <a href="https://www.truper.com/acerca-de-truper/">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <figure>
                            <img src="../static/images/STANLEY.png" th:src="@{/images/STANLEY.png}" alt="Proveedor STANLEY">
                        </figure>
                        <div class="contenido-tarjeta">
                            <div class="titulo-tarjeta">
                                <p>En STANLEY® diseñamos y fabricamos herramientas resistentes y confiables para
                                    que en cada proyecto puedas hacer tu mejor obra sin importar el desafío.
                                    Con PRO-CHECK nos ponemos a prueba para demostrarte de que estamos hecho.
                                    Con el respaldo de la trayectoria que la acompaña desde 1843, STANLEY® es la marca del
                                    profesional que con sus herramientas duraderas, ergonómicas, y potentes te brindan confianza para cada trabajo.
                                </p>
                            </div>
                                <div class="link">
                                <a href="https://www.youtube.com/watch?v=GoShy7TsTY0">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- Info Column -->
        <aside class="columna">
            <blockquote>
                <h4 class="columna-text">Características y funciones de los Rotomartillos Industriales Truper</h4>
                <iframe class="videoIndex" width="200" height="100" src="https://www.youtube.com/embed/KVk9hTTqeFM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

                </iframe>
            </blockquote>
            <blockquote>
                <h4 class="columna-text">Todas las Herramientas de Carpintería STANLEY® que necesitas</h4>
                <iframe class="videoIndex" width="200" height="100" src="https://www.youtube.com/embed/WeWOmFHw3xg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>
            </blockquote>
            <blockquote>
                <h4 class="columna-text">Vídeo de instalación - Cerradura de Sobreponer </h4>
                <iframe class="videoIndex" width="200" height="100" src="https://www.youtube.com/embed/NWGOHlu1WOk"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>
                </blockquote>

        </aside>
        <!-- Footer -->
        <footer class="pie">
            <ul>
                <li><a href="https://www.facebook.com/EgloColombia" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/eglocolombia/" class="isntagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="youtube"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=573165358521" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
            <div class="copyrith">
                <p class="copyrith">&copy Copyrith Proyecto SENA - 2023 </p>
                <h4>Jose David Villero</h4>
                <h4>Sergio Andrés Manrique Triana</h4>
            </div>
        </footer>
    </div>
</body>
</html>