<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<!-- Headers -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/f1ac1f649e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/estilosResgistro.css" th:href="@{/css/estilosResgistro.css}">
</head>
<body>
<!-- Logo header -->
	<div>
        <header class="header">
            <figure>
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo imagen">
            </figure>
        </header>
        <!-- Alerts -->
        <div th:if="${param.error}" class="alert alert-danger" role="alert"> Usuario o contraseña invalida </div>
        <div th:if="${param.logout}" class="alert alert-info" role="alert"> Se ha cerrado sesión correctamente</div>
        <!-- Form login -->
        <form class="formulario" th:action="@{/login}" method="post">
        	<h1>Inicia sesión</h1>
            <div class="contenedor">
            	<div class="input-contenedor">
                	<i class="fa-solid fa-envelope icon"></i>
                    <label>
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                               placeholder="Correo electronico" name="username" required/>
                    </label>
                </div>
            	<div class="input-contenedor">
                	<i class="fa-solid fa-key icon"></i>
                    <label>
                        <input type="password" placeholder="Contraseña" name="password" required/>
                        <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                         title="Debe contener al menos un numero y una letra en minuscula
                         y una letra en mayuscula, y 8 caracteres o mas." -->
                    </label>
                </div>
                <input type="submit" value="Login" class="botton">
                <p>Al registarte, aceptas nuestras condiciones de uso y políticas de privacidad.</p>
                <p>¿No tienes una cuenta?<a class="link" href="#" th:href="@{/registro}"> Registrarse</a></p>
            </div>
        </form>
        <!-- Footer -->
        <footer class="pie">
            <ul>
                <li><a href="https://www.facebook.com/EgloColombia" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/eglocolombia/" class="isntagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="youtube"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=573165358521" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
            <div class="copyrith">
                <p class="copyrith">&copy Copyrith Proyecto SENA - 2023 </p>
                <h4>Jose David Villero</h4>
                <h4>Sergio Andrés Manrique Triana</h4>
            </div>
        </footer>
    </div>
</body>
</html>