<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/f1ac1f649e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/estilosResgistro.css" th:href="@{/css/estilosResgistro.css}">
</head>

<body>

	<div>
        <header class="header">
            <figure>
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}">
            </figure>
        </header>
        <nav  class="menu">
            <ul>
            	<li><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#" th:href="@{/login}">Login</a></li>
                <li><a href="#" th:href="@{/about}">¿Quines somos?</a></li>
                <li><a href="#" th:href="@{/help}">Ayuda</a></li>
            </ul>
        </nav>
		<div th:if="${existe}" class="alert alert-danger" role="alert"> Error en el registro: el usuario ya existe. </div>
		<div th:if="${noExiste}" class="alert alert-success" role="alert"> Usuario registrado con éxito, ya puedes iniciar sesión. </div>
		<form class="formulario" action="#" th:action="@{/registrar}" th:object="${usuario}" method="post">
        	<h1>Registrate</h1>
        	<div class="contenedor">

            	<div class="input-contenedor">
                	<i class="fa-solid fa-user icon"></i>
                	<input type="text" placeholder="Nombre Completo" th:field="*{nombreCompleto}">
            	</div>
            	<div class="input-contenedor">
                	<i class="fa-solid fa-phone icon"></i>
                	<input type="text" placeholder="Telefono" th:field="*{telefono}">
            	</div>
            	<div class="input-contenedor">
                	<i class="fa-solid fa-envelope icon"></i>
                	<input type="text" placeholder="Correo electronico" th:field="*{email}">
            	</div>
            	<div class="input-contenedor">
                	<i class="fa-solid fa-key icon"></i>
                	<input type="password" placeholder="Contraseña" th:field="*{password}">
            	</div>
            	<input type="submit" value="Registrate" class="botton">
            	<p>Al registarte, aceptas nuestras condiciones de uso y políticas de privacidad.</p>
            	<p>¿Ya tienes una cuenta?<a class="link" href="#" th:href="@{/login}"> Iniciar Sesión</a></p>
        	</div>
    	</form>

    	<footer class="pie">
            <ul>
                <li><a href="../static/css/estilos.css" th:href="@{/css/estilos.css}" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="../static/css/estilos.css" th:href="@{/css/estilos.css}" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="../static/css/estilos.css"  th:href="@{/css/estilos.css}" class="isntagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="../static/css/estilos.css" th:href="@{/css/estilos.css}" class="youtube"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="../static/css/estilos.css" th:href="@{/css/estilos.css}" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
	</footer>
    </div>
    
</body>

</html>