<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<!-- Headers -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/f1ac1f649e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/estilosResgistro.css" th:href="@{/css/estilosResgistro.css}">
</head>
<body>
<!-- Logo header -->
	<div>
        <header class="header">
            <figure>
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo imagen">
            </figure>
        </header>
		<!-- Alerts -->
		<div th:if="${existe}" class="alert alert-danger" role="alert"> Error en el registro: el usuario ya existe. </div>
		<div th:if="${noExiste}" class="alert alert-success" role="alert"> Usuario registrado con éxito, ya puedes iniciar sesión. </div>
		<!-- Form register -->
		<form class="formulario" action="#" th:action="@{/registrar}" th:object="${usuario}" method="post">
        	<h1>Registrate</h1>
        	<div class="contenedor">
            	<div class="input-contenedor">
                	<i class="fa-solid fa-user icon"></i>
                	<input type="text" name="name" pattern="[a-zA-ZáÁéÉíÍóÓúÚñÑüÜ\s]{4,20}"
						   title="El nombre debe tener minimo 4 letras, no puede contener numeros o caracteres especiales"
						   placeholder="Nombre Completo" required th:field="*{nombreCompleto}">
            	</div>
            	<div class="input-contenedor">
                	<i class="fa-solid fa-phone icon"></i>
                	<input type="tel" pattern="[0-9]{5,10}" placeholder="Telefono"
						   title="El telefono debe tener minimo 5 numeros. Solo se permiten caracteres numericos"
						   required th:field="*{telefono}">
            	</div>
            	<div class="input-contenedor">
                	<i class="fa-solid fa-envelope icon"></i>
                	<input type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
						   placeholder="Correo electronico" required th:field="*{email}">
            	</div>
            	<div class="input-contenedor">
                	<i class="fa-solid fa-key icon"></i>
                	<input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
						   title="Debe contener al menos un numero y una letra en minuscula
						   y una letra en mayuscula, y 8 caracteres o mas."
						   placeholder="Contraseña" required th:field="*{password}">
            	</div>
            	<input type="submit" value="Registrate" class="botton">
            	<p>Al registarte, aceptas nuestras condiciones de uso y políticas de privacidad.</p>
            	<p>¿Ya tienes una cuenta?<a class="link" href="#" th:href="@{/login}"> Iniciar Sesión</a></p>
        	</div>
    	</form>
		<!-- Footer -->
    	<footer class="pie">
            <ul>
                <li><a href="https://www.facebook.com/EgloColombia" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/eglocolombia/" class="isntagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYq5APfUm7AadEIzqkaobwQ" class="youtube"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=573165358521" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
			<div class="copyrith">
				<p class="copyrith">&copy Copyrith Proyecto SENA - 2023 </p>
				<h4>Jose David Villero</h4>
				<h4>Sergio Andrés Manrique Triana</h4>
			</div>
        </footer>
    </div>
</body>
</html>